:root {
  --font-family: "Junge", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Roboto", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: #ddd;
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.main_header {
    
    height: 70px;
    background-color: #818181;
    width: 100%;
}

.nav-list {
    padding: 15px 0 15px 0;
}

.logo {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50.05%, rgba(255, 255, 255, 0.48) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list_pages {
    display: none;
}

.list_functions {
    display: none;
}