:root {
    --font-family: "Junge", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Roboto", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: #ddd;
    background-image: url("/Home/images/background/noise.jpg");
    background-repeat: repeat;
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
button,
input {
    margin: 0;
    padding: 0;
    border: 0;
}


ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.main_header {
    height: 70px;
    background-color: #818181;
    width: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.logo-name {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50.05%, rgba(255, 255, 255, 0.48) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.list_pages {
    display: none;
}

.list_functions {
    display: none;
}

.burger_btn {
    max-width: 40px;
    max-height: 40px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.mob-menu {
    background-color: #808080;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: 250ms cubic-bezier(.48, .92, .74, .14), visibility 250ms cubic-bezier(.48, .92, .74, .14);
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: 250ms cubic-bezier(.48, .92, .74, .14), visibility 250ms cubic-bezier(.48, .92, .74, .14);
}

.mob-menu-container {
    position: relative;
    padding: 94px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.mob-list_pages {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.mob-header_item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    color: #fff;
}


.mob-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    color: #fff;
    text-decoration: none;
}

.wrap {
    position: relative;
}

.search_mob {

    border-radius: 20px;
    min-width: 268px;
    height: 40px;
    background-color: rgba(146, 141, 141, 0.8);
    padding: 8px 22px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #fef7ff;
}

.search_mob::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #fef7ff;
}

.icon_search {
    position: absolute;
    top: 50%;
    right: 25px;
    fill: #ffffff;
    transform: translateY(-50%);
}


#eye-open {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.blindness {
    stroke: #ffffff;
    fill: transparent;

}

.content-manga {
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.manga-item {
    display: flex;
    flex-direction: column;
}

.manga {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

    text-decoration: none;
}

.manga-img {
    border-radius: 10px;
}

.title-manga {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #000;
    max-width: 180px;

    display: block;
}
