/* #region container */

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.containerWrap {
  max-width: 260px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .containerWrap {
    max-width: 603px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 25px;
  }

  .containerWrap {
    max-width: 1210px;
    margin: 0 auto;
  }
}

/* #endregion container */

/* #region main styles */
.main_content {
  min-height: auto !important;
  flex: 1;
  padding-bottom: 77px;
}

.geolocatio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.list-geo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.home::after {
  content: '/';
  color: #000000;
}

.location {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #494949;
}

.location:active {
  color: #ff0000;
  transition: color 50ms cubic-bezier(0.12, 0.57, 0.96, 0.69);
}

.about-us {
  background-color: rgba(146, 139, 153, 0.3);
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
}

.title-welcome {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.our-team {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.our-advantages {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #ffffff;
}

.list-advantages {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.item-advantages dt {
  font-style: italic;
}

.join-us {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}

/* #endregion main styles */

@media screen and (min-width: 768px) {
  
  /* #region main styles */
  .main_content {
    padding-bottom: 82px;
  }

  .geolocatio {
    padding-top: 13px;
    display: block;
    width: 100%;
    position: relative;
    padding-left: 21px;
    padding-bottom: 30px;
  }

  .location {
    font-size: 18px;
  }

  .about-us {
    box-sizing: border-box;
    width: 604px;
    padding: 20px 25px;
  }

  .title-welcome,
  .our-team,
  .our-advantages,
  .item-advantages,
  .join-us {
    text-align: justify;
  }

  .title-welcome,
  .our-team,
  .list-advantages {
    padding-bottom: 20px;
  }

  /* #endregion main styles */

  /* #region footer styles */

  .footer-main {
    padding: 30px 0 34px 0;
  }

  .footer-list {
    flex-direction: row;
    align-items: baseline;
  }

  .footer-item {
    align-items: flex-start;
    gap: 17px;
  }

  #social {
    align-items: center;
    padding-left: 111px;
  }

  .info-footer {
    margin-top: 0;
    text-align: left;
  }

  .title-social {
    margin-top: 0;
    text-align: center;
  }

  .social-list {
    margin: 0;
    flex-direction: row;
    gap: 16px;
  }

  /* #endregion footer styles */

}

@media screen and (min-width: 1440px) {

  /* #region main styles */
  .main_content {
    padding-bottom: 95px;
  }
  .geolocatio {
    padding-top: 20px;
    padding-left: 97px;
    padding-bottom: 59px;
  }

  .list-geo {
    top: 20px;
    left: 237px;
  }

  .location:hover {
    transition: color 250ms cubic-bezier(0.12, 0.57, 0.96, 0.69);
    color: #ffffff;
  }

  .location:active {
    color: #ff0000;
    transition: color 50ms cubic-bezier(0.12, 0.57, 0.96, 0.69);
  }

  .about-us {
    width: 1122px;
    padding: 30px;
  }
  /* #endregion main styles */

  
}
