/* #region container */

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.containerWrap {
  max-width: 275px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .containerWrap {
    max-width: 685px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 25px;
  }

  .containerWrap {
    max-width: 1015px;
    margin: 0 auto;
  }
}

/* #endregion container */

/* #region main styles */
.main_content {
  min-height: auto !important;
  flex: 1;
  padding-bottom: 77px;
}

.geolocatio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.list-geo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
}

.home::after {
  content: '/';
  color: #000000;
}

.location {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--text-location);
}

.location:active {
  color: #ff0000;
  transition: color 50ms cubic-bezier(0.12, 0.57, 0.96, 0.69);
}

/* .sec-liked {

} */

.wrap-list-liked {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  padding: 20px 25px;
  border-radius: 30px;
  background-color: rgba(110, 103, 103, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 274px;
  max-height: 985px;
}

/* 1. Общая ширина скроллбара (дорожки) */
.wrap-list-liked::-webkit-scrollbar {
  /* Делаем пошире (например, 14px), чтобы внутрь поместился ползунок с отступами */
  width: 14px;
}

/* 2. Дорожка (фон под ползунком) */
.wrap-list-liked::-webkit-scrollbar-track {
  background: transparent; /* Оставляем полностью прозрачной */
  /* Делаем так, чтобы ползунок не бился в самый верх и низ контейнера */
  margin-block: 20px;
}

/* 3. Тот самый белый ползунок (Thumb) */
.wrap-list-liked::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Белый цвет, как на макете */
  border-radius: 10px; /* Полностью скругляем */

  /* === МАГИЯ ОТСТУПОВ === */
  /* Создаем невидимую рамку вокруг белого ползунка в 4px */
  border: 2px solid rgba(0, 0, 0, 0);
  border-width: 4px 10px 4px 2px;

  /* Говорим фону "обрезаться" по границе этой рамки, 
     чтобы белый цвет не заполнял её. 
     Именно это визуально отодвинет ползунок от правого края! */
  background-clip: padding-box;
}

/* 4. Эффект при наведении мыши */
.wrap-list-liked::-webkit-scrollbar-thumb:hover {
  /* Немного меняем цвет, чтобы показать, что элемент активен */
  background-color: #e0e0e0;
}

.list-items {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
}

.carditem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    #302c2c 0%,
    #d4d3d3 50%,
    rgba(134, 123, 123, 0.5) 100%
  );
  border-radius: 20px;
  padding: 25px 22px;
  width: 224px;
  height: 460px;
}

.img-card {
  border-radius: 10px;
  padding-bottom: 17px;
}

.name-manga {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000;
  padding-bottom: 25px;
}

.wrap-btns {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

.btn-manga {
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  padding: 12px;
  width: 170px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #f5f5f5;
  cursor: pointer;
}

/* #endregion main styles */

@media screen and (min-width: 768px) {
  /* #region main styles */
  .main_content {
    padding-bottom: 82px;
  }

  .geolocatio {
    padding-top: 13px;
    display: block;
    width: 100%;
    position: relative;
  }

  .location {
    font-size: 18px;
  }

  .wrap-list-liked {
    max-width: 533px;
    max-height: 530px;
    padding: 35px 23px;
  }

  .list-items {
    flex-direction: row;
    column-gap: 23px;
    flex-wrap: wrap;
  }
  /* #endregion main styles */
}

@media screen and (min-width: 1440px) {
  /* #region main styles */
  .main_content {
    padding-bottom: 95px;
  }
  .geolocatio {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .location {
    cursor: pointer;
  }

  .location:hover {
    transition: color 250ms cubic-bezier(0.12, 0.57, 0.96, 0.69);
    color: #ffffff;
  }

  .location:active {
    color: #ff0000;
    transition: color 50ms cubic-bezier(0.12, 0.57, 0.96, 0.69);
  }

  .wrap-list-liked {
    padding: 30px 19px;
    max-width: 1020px;
    max-height: 1005px;
  }
  /* #endregion main styles */
}
